* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  list-style: none;
}

.container {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--cor-texto-200);
}

:root {
  --cor-fundo: #09090b;
  --cor-primaria: #bef264;
  --cor-secundaria: #1a2e05;
  --cor-terciaria-100: #27272a;
  --cor-terciaria-200: #18181b;
  --cor-texto-100: #fafafa;
  --cor-texto-200: #f4f4f5;
  --cor-texto-300: #a1a1aa;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto-100);
  font-family: "Inter", serif;

  height: 100vh;
}

.btn-primario {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);

  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}

header ul {
  display: flex;
  gap: 55px;
}

header ul li a {
  transition: 0.3s;
}

header ul li a:hover {
  color: var(--cor-primaria);
}
